.App {
    margin:  0px;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #7349dd!important;
}

.MuiAccordion-root.Mui-disabled{
    background-color: #fff!important;
}

.MuiAccordionSummary-root.Mui-disabled{
    opacity: 5!important;
}

.MuiLinearProgress-barColorPrimary{
    background-color: #7349dd!important;
}